<app-header></app-header>
<div class="media-browser">
  <div class="media-browser__container">
    <div class="media-browser__billboard">
      <app-billboard listTitle [media]="billboardMedia"></app-billboard>
    </div>
    <div class="media-browser__lists">
      <app-media-slider
        *ngIf="myMedias"
        [listTitle]="'Continue Watching'"
        [medias]="myMedias"
      ></app-media-slider>
      <app-media-slider
        [listTitle]="'Trending Now'"
        [medias]="medias"
      ></app-media-slider>
      <app-media-slider
        [listTitle]="'Trending Now'"
        [medias]="medias"
      ></app-media-slider>
      <app-media-slider
        [listTitle]="'Trending Now'"
        [medias]="medias"
      ></app-media-slider>
      <app-media-slider
        [listTitle]="'Trending Now'"
        [medias]="medias"
      ></app-media-slider>
    </div>
  </div>
</div>
