@import '../../../assets/scss/variables';

.container {
  height: 100%;
}

.background {
  position: absolute;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  z-index: -1;

  &-image {
    min-width: 100%;
    min-height: 100%;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  width: 100%;
  max-width: 450px;
  background-color: rgba(0, 0, 0, 0.8);

  &__container {
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin-bottom: 90px;

    &-footer {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      color: $color-gray;
    }
  }

  &__title {
    margin: 1rem 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    height: 45px;
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 4px;
    background-color: $color-gray4;
    color: $color-gray2;
  }

  &__check {
    width: 16px;
    height: 16px;
    background: white;
  }

  &__check-label {
    position: absolute;
    left: 18px;
  }

  &__button {
    margin-top: 20px;
    border-radius: 4px;
    font-weight: bold;
    margin: 24px 0 12px;
    padding: 16px;
    background: $color-red;
    cursor: pointer;
  }
}
