<app-media></app-media>
<div class="wrapper">
  <h1 class="pageHead">{{ mediaGroup.name }}</h1>
  <div class="slider">
    <div class="sliderMask" #slider>
      <div class="sliderItem" #sliderItem *ngFor="let media of sliderItems">
        <div class="sliderItemInner">
          <img class="cover" [src]="media.thumbnail" />
        </div>
      </div>
    </div>
    <div
      *ngIf="showPrev"
      class="leftArrow"
      ref="leftArrow"
      (click)="handlePrevious()"
    >
      <i class="fas fa-chevron-left"></i>
    </div>
    <div
      *ngIf="showNext"
      class="rightArrow"
      ref="rightArrow"
      (click)="handleNext()"
    >
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>
