<app-media></app-media>
<div class="media-slider">
  <div class="media-slider__header">
    <span class="media-slider__title">{{ mediaGroup.name }}</span>
    <div class="media-slider__pages-count">
      <ul
        class="pages-count"
        [ngClass]="{
          hide: hideSliderDetails
        }"
      >
        <li
          class="pages-count__item"
          *ngFor="let page of totalPages; let i = index"
          [ngClass]="{
            'pages-count__item--active': i === currentPage
          }"
        ></li>
      </ul>
    </div>
  </div>
  <div
    class="slider"
    (mouseenter)="onEnterSlider()"
    (mouseleave)="onLeaveSlider()"
  >
    <div class="slider__container" #slider>
      <div
        class="slider__item"
        #sliderItem
        *ngFor="let media of sliderItems; let i = index"
        [style.transform]="getTranformStyle(i)"
        (mouseenter)="onMouseEnterItem(i)"
        (mouseleave)="onMouseLeaveItem()"
      >
        <div class="slider__item-content">
          <div class="media-content">
            <div class="media-content__container">
              <div class="media-content__infos">
                <div class="media-content__play">
                  <i class="fas fa-play"></i>
                </div>
                <span class="media-content__title">{{ media.title }}</span>
                <div class="mediacontent__maturity">
                  {{ media.maturity }} {{ media.duration }}
                </div>
                <div class="media-content__tags">
                  <span *ngFor="let tag of media.tags">{{ tag }}</span>
                </div>
              </div>
              <div class="media-content__buttons">
                <i class="far fa-thumbs-up"></i>
                <i class="far fa-thumbs-down"></i>
                <i class="fas fa-check"></i>
                <i class="fas fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="slider__item-inner">
          <img class="slider__item-image" [src]="media.thumbnail" />
        </div>
      </div>
    </div>
    <div
      *ngIf="showPrev"
      class="leftArrow"
      ref="leftArrow"
      (click)="handlePrevious()"
    >
      <i
        class="fas fa-chevron-left"
        [ngClass]="{
          hide: hideSliderDetails
        }"
      ></i>
    </div>
    <div
      *ngIf="showNext"
      class="rightArrow"
      ref="rightArrow"
      (click)="handleNext()"
    >
      <i
        class="fas fa-chevron-right"
        [ngClass]="{
          hide: hideSliderDetails
        }"
      ></i>
    </div>
  </div>
</div>
