<div class="controls">
  <div class="controls__container">
    <div class="controls__left">
      <button class="controls__button" (click)="onTogglePlaying()">
        <i
          class="fas fa-play controls__button-icon"
          *ngIf="!mediaState.playing"
        ></i>
        <i
          class="fas fa-pause controls__button-icon"
          *ngIf="mediaState.playing"
        ></i>
      </button>
      <button class="controls__button" (click)="onSeekBack()">
        <i class="fas fa-undo-alt controls__button-icon"></i>
      </button>
      <button class="controls__button" (click)="onSeekForward()">
        <i class="fas fa-redo controls__button-icon"></i>
      </button>
      <button class="controls__button" (click)="onToggleMute()">
        <i
          class="fas fa-volume-up controls__button-icon"
          *ngIf="!mediaState.muted"
        ></i>
        <i
          class="fas fa-volume-mute controls__button-icon"
          *ngIf="mediaState.muted"
        ></i>
      </button>
    </div>
    <div class="controls__center">
      <span class="controls__center-title">{{ mediaState.title }}</span>
    </div>
    <div class="controls__right">
      <button class="controls__button">
        <i class="far fa-question-circle controls__button-icon"></i>
      </button>
      <button class="controls__button" (click)="onToggleFullscreen()">
        <i
          class="fas fa-expand controls__button-icon"
          *ngIf="!mediaState.fullscreen"
        ></i>
        <i
          class="fas fa-compress controls__button-icon"
          *ngIf="mediaState.fullscreen"
        ></i>
      </button>
    </div>
  </div>
</div>
